<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>MadMeme</title>
	<link rel="stylesheet" href="">
</head>

<body>
	<hr>
    <h1>Images</h1>
	<hr>
	<div class="container">
        <img src="../meme.jpeg" class="image" style="width:100%">
        <div class="middle">
          <div class="copyText">Copy</div>
        </div>
    </div>
    <br>
	<img src="<%- urls[1] %>">
	<img src="<%- urls[2] %>">
	<img src="<%- urls[3] %>">
	<img src="<%- urls[4] %>">
	<img src="<%- urls[5] %>">
	<hr>
</body>

</html>
