<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>MadMeme</title>
</head>

<body>
    <h1>Images</h1>
	<img src="<%- urls[0] %>">
	<img src="<%- urls[1] %>">
	<img src="<%- urls[2] %>">
	<img src="<%- urls[3] %>">
	<img src="<%- urls[4] %>">
	<img src="<%- urls[5] %>">
</body>

</html>
